body {
    width: 100%;
    height: 100%;
    cursor: default;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', system-ui, sans-serif;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.hidden {
    display: none !important;
}

.focus-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--overlay-bg);
    display: flex;
    justify-content: center;
    animation: fadeIn 0.3s ease both;
    z-index: 5;
}

.loader {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, var(--scroll-button-hover) 20%, transparent 20%);
    background-size: 200% 100%;
    animation: load 1s linear infinite;
}

.loader-back {
    background-color: var(--bg2);
}

.site_start {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
}

.site_overlay iframe {
    all:unset;
    display: flex;
    align-items: center;
}

.site_loading.hidden .loader {
    display: none;
    
}

.site_loading.active .loader.active {
    display: block;
}

#site_page {
    width: 100%;
    height: 100%;
    border: none;
}

.logo a {
    cursor: pointer;
}

.centered {
    justify-content: center;
    align-items: center;
}

@keyframes load {
    to {
        background-position: -200% 0;
    }
}